In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
import psycopg2
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [11]:
from secrets import password

ImportError: cannot import name 'password' from 'secrets' (C:\Users\luisf\anaconda3\lib\secrets.py)

In [2]:
url2020 = 'http://archive.shanghairanking.com/ARWU2020.html'
url2019 = 'http://archive.shanghairanking.com/ARWU2019.html'
url2018 = 'http://archive.shanghairanking.com/ARWU2018.html'
url2017 = 'http://archive.shanghairanking.com/ARWU2017.html'
url2016 = 'http://archive.shanghairanking.com/ARWU2016.html'

In [3]:
rank2020 = pd.read_html(url2020)
rank2019 = pd.read_html(url2019)
rank2018 = pd.read_html(url2018)
rank2017 = pd.read_html(url2017)
rank2016 = pd.read_html(url2016)

In [4]:
rank2020 = rank2020[0]
rank2019 = rank2019[0]
rank2018 = rank2018[0]
rank2017 = rank2017[0]
rank2016 = rank2016[0]

In [5]:
rank2020['year'] = 2020
rank2019['year'] = 2019
rank2018['year'] = 2018
rank2017['year'] = 2017
rank2016['year'] = 2016

In [6]:
rank = rank2020.append(rank2019)
rank = rank.append(rank2018)
rank = rank.append(rank2017)
rank = rank.append(rank2016)
rank = rank[['Institution*','World Rank','National/Regional Rank','year']]
rank = rank.reset_index(drop=True)
rank

,Institution*,World Rank,National/Regional Rank,year
0,Harvard University,1,1,2020
1,Stanford University,2,2,2020
2,University of Cambridge,3,1,2020
3,Massachusetts Institute of Technology (MIT),4,3,2020
4,"University of California, Berkeley",5,4,2020
...,...,...,...,...
3495,Wake Forest University,401-500,120-137,2016
3496,Waseda University,401-500,13-16,2016
3497,Washington State University,401-500,120-137,2016
3498,West Virginia University,401-500,120-137,2016
3499,Wuhan University of Technology,401-500,32-41,2016

In [9]:
unique_u = rank.drop_duplicates(subset = 'Institution*', ignore_index=True)
unique_u = unique_u['Institution*']
unique_u

0                                Harvard University
1                               Stanford University
2                           University of Cambridge
3       Massachusetts Institute of Technology (MIT)
4                University of California, Berkeley
                           ...
1106                   Toulouse School of Economics
1107                           University of Quebec
1108               University of Technology, Sydney
1109          National Cheng Kung University (NCKU)
1110                      Paris Sorbonne University
Name: Institution*, Length: 1111, dtype: object

ImportError: cannot import name 'password' from 'secrets' (C:\Users\luisf\anaconda3\lib\secrets.py)

In [ ]:
# Connect to local database
# Pior: Create a python file called info in your local repo with user, password and database name.

# from secrets import user, password, database
rds_connection_string = f'{username}:{password}@localhost:5432/UT_Presentation'
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
rank = pd.DataFrame()
rank['Institution'] = rank2020['Institution*']
rank['wrank_2020'] = rank2020['World Rank']
rank

In [ ]:
rank = pd.merge(rank,rank2019, how = 'outer', left_on = 'Institution', right_on = 'Institution*')
# rank['wrank2011'] = rank['World Rank']
rank

In [ ]:
rank['wrank2019'] = rank['World Rank']
rank

In [ ]:
rank = pd.merge(rank,rank2018, how = 'outer', left_on = 'Institution', right_on = 'Institution*')
# rank['wrank2011'] = rank['World Rank']
rank['wrank2018'] = rank['World Rank_y']
rank

In [ ]:
rank = rank[['Institution', 'wrank_2020', 'wrank2019','wrank2018' ]]
rank